<dialog #dialog class="edit-dialog" (close)="cancelled.emit()">
  <form [formGroup]="form" (ngSubmit)="submit()" class="edit-dialog__form" novalidate>
    <h2 class="edit-dialog__title">Edit group</h2>

    <label class="edit-dialog__field">
      <span class="edit-dialog__label">Name</span>
      <input type="text" formControlName="name" autocomplete="off" />
    </label>

    <label class="edit-dialog__field">
      <span class="edit-dialog__label">Color</span>
      <input type="color" formControlName="color" aria-label="Group color" />
    </label>

    <div class="edit-dialog__actions">
      <button type="button" class="edit-dialog__btn" (click)="cancel()">Cancel</button>
      <button
        type="submit"
        class="edit-dialog__btn edit-dialog__btn--primary"
        [disabled]="form.invalid"
      >
        Save
      </button>
    </div>
  </form>
</dialog>
